#chart-tooltip {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--color-background);
    font-size: 20px;
    font-weight: 700;
    color: var(--text-hover);
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.color-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorCountsPieChart {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
}

.treemap {
    flex-direction: column-reverse;
}

/* Container styling for alignment */
.radio-item label {
  display: inline-flex;
  font-size: 20px;
  margin: 10px;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
  font-family: sans-serif;
}
